<h2>Lista de Proyectos</h2>
<a routerLink="/projects/new">Crear Proyecto</a>

<ul *ngIf="proyectos$ | async as proyectos; else cargando">
  <li *ngFor="let proyecto of proyectos">
    <div>
      <strong>{{ proyecto.nombre }}</strong> ({{ proyecto.estado }})<br />
      <small>{{ proyecto.fechaInicio }} - {{ proyecto.fechaEntrega }}</small>
      <p>{{ proyecto.descripcion }}</p>
    </div>
    <button [routerLink]="['/projects/edit', proyecto.id]">Editar</button>
    <button (click)="eliminar(proyecto.id!)">Eliminar</button>
  </li>
</ul>

<ng-template #cargando>
  <p>Cargando proyectos...</p>
</ng-template>